.circularSlider {
  border-radius: 100%;
  border: 25px solid black;
}

.knob {
  position: absolute;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: grab;

  top: 13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dragging {
  cursor: grabbing;
}
